*
*::before
*::after
	box-sizing border-box

::selection
	background $color-white
	color $color-black
	text-shadow none

body
	margin 0
	background $color-black
	background-blend-mode multiply
	color $color-white
	font 400 $font-size-base/1.5 $font-stack-common

.bg-overlay
	background url('~/assets/images/bg-nuit-calme.jpg') no-repeat
	background-size cover
	position absolute
	left 0
	right 0
	top 0
	bottom 0

.site
	min-height 100vh
	display flex
	flex-direction column
	position relative
	align-items center
	justify-content center
	overflow hidden
