// COLORS

$color-white = #fff
$color-black = #000

// FONTS

$font-stack-common = "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif
$font-stack-heading = $font-stack-common

$font-size-base = 16px
$font-size-title = rem(96px)

// MEDIA QUERIES

$mq-tablet = '(min-width %s)' % rem(679px)
$mq-desktop = '(min-width %s)' % rem(1025px)
